<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Верефикация эмаил</title>
        <link rel="stylesheet" href="/css/style_veref.css">
        <link rel="icon" href="imges/favicon.jpg" type="image/png">
    </head>
    <body>
        <div class="main">
            <img src="../imges/logo.png" alt="Логотип">
            <p class="enter_code">Сылка на подтверждение была отправлена на <span id="user-email">example@gmail.com</span></p>
            <button id="verify-btn">Проверить</button>
            <p class="spam">(подтверждение может находиться в папке "<b>Спам</b>")</p>
        </div>
        <script type="module" src="/js/email_verif.js"></script>
    </body>
</html>